body {
	max-width: 1400px;
	margin: 0 auto;
	padding: 2rem 0rem;
}

.grafice {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	gap: 20px;
}

.dash_title {
	text-align: center;
}

.dashboard_header {
	padding: 0 5rem;
}

.dash_date {
	display: flex;
	justify-content: space-between;
	padding: 0 4rem;
}

.dash_values {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.dash_data p {
	text-align: left;
	padding-left: 4rem;
	font-size: 1.4rem;
}

.dash_value {
	border: 1px solid black;
	list-style-type: none;
	padding: 1rem 2rem;
}
